<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">   
    <meta http-equiv="refresh" content="5">
    <title>Smart Cycle Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
    <h1>Smart Cycle</h1>


    <a href="https://www.compostmagazine.com/moisture-in-compost/" class="compost_link" target="_blank">Optimal Compost Compostion</a>

    
    <table>
        <tr><title>Smart Cycle Data</title>
            <th>ID</th>
            <th>Type</th>
            <th>Action</th>
            <th>Time</th>
            
        </tr>
        {% for item in data %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ item['type'] }}</td>
            <td>{{ item['action'] }}</td>
            <td>{{ item['time']  | datetimeformat}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>
